
.buttonFloat{
    position: fixed;
    width: 60px;
    bottom: 20px;
    right: 30px;
    background: #eb1818;
    border-radius: 20px;
    color:#FFF;
    z-index:12;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.buttonFloat:hover{
    color:#000;
}