
/* Galerias Section
--------------------------------*/
#galerias {
  padding: 60px 0;
  overflow: hidden;
}

#galerias .img-galery div{
  height: 200px;
  max-height: 200px!important;
  min-height: 200px!important;
  overflow: hidden;
}

#galerias .img-galery div img{
  height:100%;
  width:100%;
  object-fit: cover;
  -o-object-fit:cover; 
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

#galerias .img-galery div img:hover{
	opacity: .7;
  cursor: pointer;
  transform: scale(1.2);
}

#galerias .img-galery div img:focus{
  outline: none;
}
